:root {
    --switch-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.switch-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-family: system-ui, sans-serif;
}

.switch-label {
    font-size: 0.875rem;
    color: #333;
}

.switch {
    width: 44px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #444;
    border-radius: 999px;
    position: relative;
    cursor: pointer;

    transition: background-color var(--switch-transition);
}

.switch-thumb {
    width: 8px;
    height: 8px;
    background-color: #444;
    border-radius: 50%;

    position: absolute;
    top: 6px;
    left: 6px;

    transition: transform var(--switch-transition);
}

/* ON state */
.switch.on {
    background-color: #333;
    border: 1px solid #333;
}

.switch.on .switch-thumb {
    background-color: #fff;
    transform: translateX(20px);
}

.switch.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}